$color-red: hsl(0, 93%, 68%);
$color-red-light: hsl(0, 36%, 70%);

$color-dark: hsl(0, 6%, 24%);

$gradient-angle: 135deg;

$gradient-light-1: hsl(0, 0%, 100%);
$gradient-light-2: hsl(0, 100%, 98%);

$gradient-dark-1: hsl(0, 80%, 86%);
$gradient-dark-2: hsl(0, 74%, 74%);

$color-grey: #e6dadd;

// Breakpoints
$bp-largest: 137.5em;
$bp-medium: 75em;
$bp-medium-2: 67.8em;
$bp-small: 43.75em;
$bp-smaller: 30em;
